<?xml version="1.0"?>
<config>
    <modules>
        <Elsner_Multicurrency>
            <version>0.1.1</version>
        </Elsner_Multicurrency>
    </modules>
    <global>
        <models>
            <elsner_multicurrency>
                <class>Elsner_Multicurrency_Model</class>
                <resourceModel>elsner_multicurrency_mysql4</resourceModel>
            </elsner_multicurrency>
            <elsner_multicurrency_mysql4>
                <class>Elsner_Multicurrency_Model_Mysql4</class>
                <entities>
                    <multicurrency>
                        <table>elsner_multicurrency</table>
                     </multicurrency>  
                </entities>
            </elsner_multicurrency_mysql4>
            <paypal>
                <rewrite>
                    <cart>Elsner_Multicurrency_Model_Cart</cart>
                    <api_nvp>Elsner_Multicurrency_Model_Api_Nvp</api_nvp>
                    <standard>Elsner_Multicurrency_Model_Standard</standard>
                    <config>Elsner_Multicurrency_Model_Config</config>
                    <express_checkout>Elsner_Multicurrency_Model_Express_Checkout</express_checkout>
                    <!-- <express>Elsner_Multicurrency_Model_Express</express> -->
                    <!-- <pro>Elsner_Multicurrency_Model_Pro</pro> -->
                </rewrite>
            </paypal>
            <sales>
                <rewrite>
                    <order_payment>Elsner_Multicurrency_Model_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <resources>
            <elsner_multicurrency_setup>
                <setup>
                    <module>Elsner_Multicurrency</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </elsner_multicurrency_setup>
            <elsner_multicurrency_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </elsner_multicurrency_write>
            <elsner_multicurrency_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </elsner_multicurrency_read>
        </resources>
        <blocks>
            <multicurrency>
                <class>Elsner_Multicurrency_Block</class>
            </multicurrency>
            <checkout>
                <rewrite>
                    <cart_totals>Elsner_Multicurrency_Block_Checkout_Cart_Totals</cart_totals>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <multicurrency>
                <class>Elsner_Multicurrency_Helper</class>
            </multicurrency>
        </helpers>
        <!--<resources>
            <ppfix_setup>
                <setup>
                    <module>Elsner_Multicurrency</module>
                </setup>
            </ppfix_setup>
        </resources>-->
        <events>
            <sales_order_save_after>
                <observers>
                    <pbfix_sales_order_observer_payment>
                        <class>Elsner_Multicurrency_Model_Observer</class>
                        <method>setPaymentInfo</method>
                    </pbfix_sales_order_observer_payment>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <multicurrency_payment_info>
                        <class>Elsner_Multicurrency_Model_Observer</class>
                        <method>getPaymentInfo</method>
                    </multicurrency_payment_info>
                </observers>
            </payment_info_block_prepare_specific_information>
            <adminhtml_init_system_config>
                <observers>
                    <multicurrency>
                        <class>Elsner_Multicurrency_Model_Observer</class>
                        <method>setConfig</method>
                    </multicurrency>
                </observers>
            </adminhtml_init_system_config>

        </events>
    </adminhtml>
</config>