<?xml version="1.0"?>
<!--
/**
 * Innoexts
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_CurrencyPricing
 * @copyright   Copyright (c) 2014 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */
-->
<config>
    <modules>
        <Innoexts_CurrencyPricing>
            <version>1.3.1.0</version>
        </Innoexts_CurrencyPricing>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Innoexts_CurrencyPricing>
                    <files>
                        <default>Innoexts_CurrencyPricing.csv</default>
                    </files>
                </Innoexts_CurrencyPricing>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Innoexts_CurrencyPricing>
                    <files>
                        <default>Innoexts_CurrencyPricing.csv</default>
                    </files>
                </Innoexts_CurrencyPricing>
            </modules>
        </translate>
         <layout>
              <updates>
                  <currencypricing>
                      <file>innoexts/currencypricing.xml</file>
                  </currencypricing>
              </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <currencypricing>
                <class>Innoexts_CurrencyPricing_Model</class>
            </currencypricing>
            <currencypricing_mysql4>
                <class>Innoexts_CurrencyPricing_Model_Mysql4</class>
            </currencypricing_mysql4>
            <adminhtml>
                <rewrite>
                    <system_config_backend_price_scope>Innoexts_CurrencyPricing_Model_Adminhtml_System_Config_Backend_Price_Scope</system_config_backend_price_scope>
                </rewrite>
            </adminhtml>
            <bundle_mysql4>
                <rewrite>
                    <indexer_price>Innoexts_CurrencyPricing_Model_Mysql4_Bundle_Indexer_Price</indexer_price>
                </rewrite>
            </bundle_mysql4>
            <catalog>
                <rewrite>
                    <product_attribute_backend_finishdate>Innoexts_CurrencyPricing_Model_Catalog_Product_Attribute_Backend_Finishdate</product_attribute_backend_finishdate>
                    <product_attribute_backend_price>Innoexts_CurrencyPricing_Model_Catalog_Product_Attribute_Backend_Price</product_attribute_backend_price>
                    <product_attribute_backend_startdate>Innoexts_CurrencyPricing_Model_Catalog_Product_Attribute_Backend_Startdate</product_attribute_backend_startdate>
                    <product_attribute_backend_groupprice>Innoexts_CurrencyPricing_Model_Catalog_Product_Attribute_Backend_Groupprice</product_attribute_backend_groupprice>
                    <product_attribute_backend_tierprice>Innoexts_CurrencyPricing_Model_Catalog_Product_Attribute_Backend_Tierprice</product_attribute_backend_tierprice>
                </rewrite>
            </catalog>
            <catalog_resource_eav_mysql4>
                <entities>
                    <product_compound_price>
                        <table>catalog_product_compound_price</table>
                    </product_compound_price>
                    <product_compound_special_price>
                        <table>catalog_product_compound_special_price</table>
                    </product_compound_special_price>
                    <product_index_compound_price>
                        <table>catalog_product_index_compound_price</table>
                    </product_index_compound_price>
                    <product_index_compound_special_price>
                        <table>catalog_product_index_compound_special_price</table>
                    </product_index_compound_special_price>
                    <product_currency_price>
                        <table>catalog_product_currency_price</table>
                    </product_currency_price>
                    <product_currency_special_price>
                        <table>catalog_product_currency_special_price</table>
                    </product_currency_special_price>
                </entities>
                <rewrite>
                    <product_attribute_backend_groupprice>Innoexts_CurrencyPricing_Model_Mysql4_Catalog_Product_Attribute_Backend_Groupprice</product_attribute_backend_groupprice>
                    <product_attribute_backend_tierprice>Innoexts_CurrencyPricing_Model_Mysql4_Catalog_Product_Attribute_Backend_Tierprice</product_attribute_backend_tierprice>
                    <product_collection>Innoexts_CurrencyPricing_Model_Mysql4_Catalog_Product_Collection</product_collection>
                    <product_indexer_price>Innoexts_CurrencyPricing_Model_Mysql4_Catalog_Product_Indexer_Price</product_indexer_price>
                    <product_indexer_price_default>Innoexts_CurrencyPricing_Model_Mysql4_Catalog_Product_Indexer_Price_Default</product_indexer_price_default>
                    <product_indexer_price_grouped>Innoexts_CurrencyPricing_Model_Mysql4_Catalog_Product_Indexer_Price_Grouped</product_indexer_price_grouped>
                    <product_indexer_price_configurable>Innoexts_CurrencyPricing_Model_Mysql4_Catalog_Product_Indexer_Price_Configurable</product_indexer_price_configurable>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <catalogrule>
                <rewrite>
                    <action_index_refresh>Innoexts_CurrencyPricing_Model_Catalogrule_Action_Index_Refresh</action_index_refresh>
                    <action_index_refresh_row>Innoexts_CurrencyPricing_Model_Catalogrule_Action_Index_Refresh_Row</action_index_refresh_row>
                    <observer>Innoexts_CurrencyPricing_Model_Catalogrule_Observer</observer>
                    <rule>Innoexts_CurrencyPricing_Model_Catalogrule_Rule</rule>
                    <rule_condition_product>Innoexts_CurrencyPricing_Model_Catalogrule_Rule_Condition_Product</rule_condition_product>
                    <rule_product_price>Innoexts_CurrencyPricing_Model_Catalogrule_Rule_Product_Price</rule_product_price>
                </rewrite>
            </catalogrule>
            <catalogrule_mysql4>
                <entities>
                    <currency>
                        <table>catalogrule_currency</table>
                    </currency>
                    <compound_discount_amount>
                        <table>catalogrule_compound_discount_amount</table>
                    </compound_discount_amount>
                    <compound_sub_discount_amount>
                        <table>catalogrule_compound_sub_discount_amount</table>
                    </compound_sub_discount_amount>
                </entities>
                <rewrite>
                    <rule>Innoexts_CurrencyPricing_Model_Mysql4_Catalogrule_Rule</rule>
                    <rule_collection>Innoexts_CurrencyPricing_Model_Mysql4_Catalogrule_Rule_Collection</rule_collection>
                    <rule_product_price>Innoexts_CurrencyPricing_Model_Mysql4_Catalogrule_Rule_Product_Price</rule_product_price>
                </rewrite>
            </catalogrule_mysql4>
            <directory>
                <rewrite>
                    <currency>Innoexts_CurrencyPricing_Model_Directory_Currency</currency>
                </rewrite>
            </directory>
            <downloadable_mysql4>
                <rewrite>
                    <indexer_price>Innoexts_CurrencyPricing_Model_Mysql4_Downloadable_Indexer_Price</indexer_price>
                </rewrite>
            </downloadable_mysql4>
            <tax>
                <rewrite>
                    <sales_total_quote_subtotal>Innoexts_CurrencyPricing_Model_Tax_Sales_Total_Quote_Subtotal</sales_total_quote_subtotal>
                </rewrite>
            </tax>
        </models>
        <blocks>
            <currencypricing>
                <class>Innoexts_CurrencyPricing_Block</class>
            </currencypricing>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_attributes>Innoexts_CurrencyPricing_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                    <catalog_product_edit_tab_price_group>Innoexts_CurrencyPricing_Block_Adminhtml_Catalog_Product_Edit_Tab_Price_Group_Renderer</catalog_product_edit_tab_price_group>
                    <catalog_product_edit_tab_price_tier>Innoexts_CurrencyPricing_Block_Adminhtml_Catalog_Product_Edit_Tab_Price_Tier_Renderer</catalog_product_edit_tab_price_tier>
                    <promo_catalog_edit_js>Innoexts_CurrencyPricing_Block_Adminhtml_Promo_Catalog_Edit_Js</promo_catalog_edit_js>
                    <promo_catalog_edit_tab_actions>Innoexts_CurrencyPricing_Block_Adminhtml_Promo_Catalog_Edit_Tab_Actions</promo_catalog_edit_tab_actions>
                    <promo_catalog_edit_tab_main>Innoexts_CurrencyPricing_Block_Adminhtml_Promo_Catalog_Edit_Tab_Main</promo_catalog_edit_tab_main>
                </rewrite>
            </adminhtml>
            <bundle>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_attributes>Innoexts_CurrencyPricing_Block_Bundle_Adminhtml_Catalog_Product_Edit_Tab_Attributes</adminhtml_catalog_product_edit_tab_attributes>
                </rewrite>
            </bundle>
        </blocks>
        <helpers>
            <currencypricing>
                <class>Innoexts_CurrencyPricing_Helper</class>
            </currencypricing>
        </helpers>
        <resources>
            <currencypricing_setup>
                <setup>
                    <module>Innoexts_CurrencyPricing</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </currencypricing_setup>
            <currencypricing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </currencypricing_write>
            <currencypricing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </currencypricing_read>
        </resources>
        <events>
            
            <!-- Currency -->
            <directory_currency_rates_save_after>
                <observers>
                    <currencypricing_after_currency_rates_save>
                        <class>currencypricing/directory_observer</class>
                        <method>afterCurrencyRatesSave</method>
                    </currencypricing_after_currency_rates_save>
                </observers>
            </directory_currency_rates_save_after>
            
            <!-- Product -->
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <currencypricing_add_product_tabs>
                        <type>singleton</type>
                        <class>currencypricing/catalog_product_observer</class>
                        <method>addTabs</method>
                    </currencypricing_add_product_tabs>
                </observers>
            </core_block_abstract_prepare_layout_after>
            
            <!-- Product Price -->
            <catalog_product_collection_load_before>
                <observers>
                    <currencypricing_before_product_collection_load>
                        <class>currencypricing/catalog_product_price_observer</class>
                        <method>beforeProductCollectionLoad</method>
                    </currencypricing_before_product_collection_load>
                </observers>
            </catalog_product_collection_load_before>
            <catalog_product_collection_apply_limitations_after>
                <observers>
                    <currencypricing_after_product_collection_apply_limitations>
                        <class>currencypricing/catalog_product_price_observer</class>
                        <method>afterProductCollectionApplyLimitations</method>
                    </currencypricing_after_product_collection_apply_limitations>
                </observers>
            </catalog_product_collection_apply_limitations_after>
            
            <!-- Product Compound Prices -->
            <catalog_product_save_after>
                <observers>
                    <currencypricing_save_product_compound_price>
                        <class>currencypricing/catalog_product_price_observer</class>
                        <method>saveCompoundPrice</method>
                    </currencypricing_save_product_compound_price>
                </observers>
            </catalog_product_save_after>
            <catalog_product_load_after>
                <observers>
                    <currencypricing_load_product_compound_price>
                        <class>currencypricing/catalog_product_price_observer</class>
                        <method>loadCompoundPrice</method>
                    </currencypricing_load_product_compound_price>
                </observers>
            </catalog_product_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <currencypricing_load_product_collection_compound_price>
                        <class>currencypricing/catalog_product_price_observer</class>
                        <method>loadCollectionCompoundPrice</method>
                    </currencypricing_load_product_collection_compound_price>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_product_clear>
                <observers>
                    <currencypricing_remove_product_compound_price>
                        <class>currencypricing/catalog_product_price_observer</class>
                        <method>removeBatchPrice</method>
                    </currencypricing_remove_product_compound_price>
                </observers>
            </catalog_product_clear>
            
            <!-- Product Compound Special Prices -->
            <catalog_product_save_after>
                <observers>
                    <currencypricing_save_product_compound_special_price>
                        <class>currencypricing/catalog_product_price_observer</class>
                        <method>saveCompoundSpecialPrice</method>
                    </currencypricing_save_product_compound_special_price>
                </observers>
            </catalog_product_save_after>
            <catalog_product_load_after>
                <observers>
                    <currencypricing_load_product_compound_special_price>
                        <class>currencypricing/catalog_product_price_observer</class>
                        <method>loadCompoundSpecialPrice</method>
                    </currencypricing_load_product_compound_special_price>
                </observers>
            </catalog_product_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <currencypricing_load_product_collection_compound_special_price>
                        <class>currencypricing/catalog_product_price_observer</class>
                        <method>loadCollectionCompoundSpecialPrice</method>
                    </currencypricing_load_product_collection_compound_special_price>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_product_clear>
                <observers>
                    <currencypricing_remove_product_compound_special_price>
                        <class>currencypricing/catalog_product_price_observer</class>
                        <method>removeCompoundSpecialPrice</method>
                    </currencypricing_remove_product_compound_special_price>
                </observers>
            </catalog_product_clear>
            
            <!-- Catalog Rule -->
            <catalogrule_rule_save_after>
                <observers>
                    <currencypricing_save_catalogrule_compound_discount_amount>
                        <class>currencypricing/catalogrule_observer</class>
                        <method>saveCompoundDiscountAmount</method>
                    </currencypricing_save_catalogrule_compound_discount_amount>
                    <currencypricing_save_catalogrule_compound_sub_discount_amount>
                        <class>currencypricing/catalogrule_observer</class>
                        <method>saveCompoundSubDiscountAmount</method>
                    </currencypricing_save_catalogrule_compound_sub_discount_amount>
                </observers>
            </catalogrule_rule_save_after>
            <catalogrule_rule_load_after>
                <observers>
                    <currencypricing_load_catalogrule_compound_discount_amount>
                        <class>currencypricing/catalogrule_observer</class>
                        <method>loadCompoundDiscountAmount</method>
                    </currencypricing_load_catalogrule_compound_discount_amount>
                    <currencypricing_load_catalogrule_compound_sub_discount_amount>
                        <class>currencypricing/catalogrule_observer</class>
                        <method>loadCompoundSubDiscountAmount</method>
                    </currencypricing_load_catalogrule_compound_sub_discount_amount>
                </observers>
            </catalogrule_rule_load_after>
            <catalogrule_rule_collection_load_after>
                <observers>
                    <currencypricing_load_catalogrule_collection_compound_discount_amount>
                        <class>currencypricing/catalogrule_observer</class>
                        <method>loadCollectionCompoundDiscountAmount</method>
                    </currencypricing_load_catalogrule_collection_compound_discount_amount>
                    <currencypricing_load_catalogrule_collection_compound_sub_discount_amount>
                        <class>currencypricing/catalogrule_observer</class>
                        <method>loadCollectionCompoundSubDiscountAmount</method>
                    </currencypricing_load_catalogrule_collection_compound_sub_discount_amount>
                </observers>
            </catalogrule_rule_collection_load_after>
            <catalogrule_rule_clear>
                <observers>
                    <currencypricing_remove_catalogrule_compound_discount_amount>
                        <class>currencypricing/catalogrule_observer</class>
                        <method>removeCompoundDiscountAmount</method>
                    </currencypricing_remove_catalogrule_compound_discount_amount>
                    <currencypricing_remove_catalogrule_compound_sub_discount_amount>
                        <class>currencypricing/catalogrule_observer</class>
                        <method>removeCompoundSubDiscountAmount</method>
                    </currencypricing_remove_catalogrule_compound_sub_discount_amount>
                </observers>
            </catalogrule_rule_clear>
            
        </events>
    </global>
</config>
