<?xml version="1.0"?>
<config>
    <modules>
        <Magehit_Notification>
            <version>0.1.2</version>
        </Magehit_Notification>
    </modules>
    <frontend>
        <routers>
            <notification>
                <use>standard</use>
                <args>
                    <module>Magehit_Notification</module>
                    <frontName>notification</frontName>
                </args>
            </notification>
        </routers>
        <layout>
            <updates>
                <notification>
                    <file>magehit_notification.xml</file>
                </notification>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magehit_Notification>
                    <files>
                        <default>Magehit_PromotionsNotification.csv</default>
                    </files>
                </Magehit_Notification>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<notification>
				<use>admin</use>
				<args>
					<module>Magehit_Notification</module>
					<frontName>notification</frontName>
				</args>
			</notification>
        </routers>
    </admin>
    <adminhtml>
		<menu>
            <notification module="notification" translate="title">
                <title>Notification</title>
                <sort_order>100</sort_order>
                <children>
                    <notification module="notification">
                        <title>Manage Notifications</title>
                        <sort_order>1</sort_order>      
                        <action>notification/adminhtml_notification</action>         
                    </notification>
                    <configuration module="notification">
                        <title>Configuration</title>
                        <sort_order>3</sort_order>
                        <action>adminhtml/system_config/edit/section/notification</action>
                    </configuration>
                </children>
            </notification>
        </menu>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                       
                        <notification module="notification">
                            <title>Notification</title>
                            <sort_order>6</sort_order>               
                            <children>
                                <notification module="notification">
                                    <title>Manage Notifications</title>
                                    <sort_order>1</sort_order>      
                                    <action>notification/adminhtml_notification</action>         
                                </notification>
                                <configuration module="notification">
                                    <title>Configuration</title>
                                    <sort_order>3</sort_order>
                                    <action>adminhtml/system_config/edit/section/notification</action>
                                </configuration>
                            </children>
                        </notification>
                            
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <notification translate="title" module="notification">
                                            <title>Notification</title>
                                        </notification>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<notification>
					<file>magehit_notification.xml</file>
				</notification>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <notification>
                <class>Magehit_Notification_Model</class>
                <resourceModel>notification_mysql4</resourceModel>
            </notification>
            <notification_mysql4>
                <class>Magehit_Notification_Model_Mysql4</class>
                <entities>
                    <notification>
                        <table>mh_notification</table>
                    </notification>
                </entities>
            </notification_mysql4>
        </models>
        <resources>
            <notification_setup>
                <setup>
                    <module>Magehit_Notification</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </notification_setup>
            <notification_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </notification_write>
            <notification_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </notification_read>
        </resources>
        <blocks>
            <notification>
                <class>Magehit_Notification_Block</class>
            </notification>
            <!--<adminhtml>
                <rewrite>
                    <catalog_product_widget_chooser>Magehit_Notification_Block_Catalog_Product_Widget_Chooser</catalog_product_widget_chooser>
                </rewrite>
            </adminhtml>-->
        </blocks>
        <helpers>
            <notification>
                <class>Magehit_Notification_Helper</class>
            </notification>
        </helpers>
    </global>
    <default>
        <notification>
            <config>
                <enabled>1</enabled>
                <position_static>1</position_static>
                <numbernotification>2</numbernotification>
            </config>
        </notification>
    </default>
</config>